.embers {
  background-image: url('images/embers_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Ensures the body covers the full viewport height */
}

.y {
  background-image: url('images/csbg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Ensures the body covers the full viewport height */
}

body.x {
  background-image: url('images/csbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Ensures the body covers the full viewport height */
}

body {
      color: white;
}

h2 {
  font-style: italic;
}

h3 {
  background-color: mediumorchid;
}

#p3h3 {
  font-weight: normal;
}

.clear-section {
  clear: left;
}

p {
  line-height: 30px;
  text-indent: 30px; 
}

body p:nth-of-type(2) {
  text-indent: 0px; 
}